:root {
    --color-principal: #162B4E;
    --color-secundario: #4470bb;
    --color-fondo: #f0f0f0fb;
    --color-texto-oscuro: #28292c;
    --color-blanco: #ffffff;
    --fuente-sistema: system-ui, Arial, sans-serif;
}

body {
    font-family: var(--fuente-sistema);
    background-color: var(--color-fondo);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2 {
    color: var(--color-principal);
    text-align: center;
    font-size: 50px;
}

h2.Blanco {
    color: var(--color-blanco);
    text-align: center;
    font-size: 50px;
}

h3 {
    color: var(--color-principal);
    font-size: 25px;
}

h3.Blanco {
    color: var(--color-blanco);
    font-size: 20px;
    text-align: center;
}

h4 {
    color: var(--color-principal);
    font-size: 15px;
    text-align: left;
}

p.SeccionAzul {
    color: var(--color-blanco);
    font-size: 20px;
}

p.SeccionBlanca {
    color: var(--color-texto-oscuro);
    font-size: 20px;
}

p {
    color: var(--color-texto-oscuro);
    font-size: 18px;
}

#Comprar {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 30px;
    border-color: var(--color-blanco);
}

#Comprar:hover {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
}

#Buscar {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 15px;
    border-color: var(--color-blanco);
}

#Buscar:hover {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
}

header {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
}

section#Galeria {
    border-radius: 30px;
    border-color: var(--color-principal);
    border-width: 4px;
    border-style: solid;
    display: flex;
}

section#Especificaciones {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
}

section#Comentarios {
    padding: 10px;
    margin-top: 40px;
}

aside {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 10px;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 35px;
}

section#Productos {
    padding: 20px;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
}

section#Productos img {
    border-radius: 35px;
    border-color: var(--color-blanco);
    border-width: 5px;
    border-style: solid;
    padding: 20px;
}

section#Productos img#Airtag {
    margin-right: 40px !important;
}

div.columna {
    padding: 10px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: var(--color-principal);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}